body {
    height: 520;
    width: 1024;
	margin: 0;
	padding: 0;
    font-family: sans-serif;
    background: #333;
}

.instructions {
    float: left;
    font-family: sans-serif;
    color: #757575;
}

.wrapper {
    width: 1024px;
    margin-top: 1em;
}

.score {
    float: right;
    font-size: 2em;
}

#game-over, #game-over-overlay {
    width: 1024px;
    height: 520px;
    position: absolute;
    z-index: 1;
    display: none;
}

#game-over-overlay {
    background-color: black;
    opacity: .5;
}

#game-over {
    height: 350px;
    text-align: center;
    color: white;
}

#game-over h1 {
    font-size: 3em;
    font-family: sans-serif;
}

#game-over button {
    font-size: 1.5em;
}

.red { 
	color: red;
}

@keyframes rotation { 0% { rotate: -5deg; } 100% { rotate: 5deg; } }
#draggable-cards > * {
    padding: 1em 1em 2em 1em;
    margin: -1em 0 0 .5em;
    rotate: 10deg;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    background: white;
    animation: rotation 4s linear -2s infinite alternate;
    text-align: center;
}

/* Added styles for the draggable cards */
#draggable-cards {
  position: absolute;
  display: flex;
  width: 750px;
  top: 520px;
  left: 0;
  /* Add additional styles as needed */
}

#trade {
    position: absolute;
    top: 520px;
    left: 1024;
    transform: translateX(-100%);
}
#trade * {
    display: inline;
    font-size: 30px;
    font-weight: bold;
}
#coins {
    color: white;
}